{% load static %}
<script type="text/javascript" src="{% static 'django_js_reverse/js/reverse.js' %}"></script>
<script type="text/javascript" src="{%static 'jquery/csrf.js'%}"></script>
<script type="text/javascript" src="{%static 'jquery/mdl_menu.js'%}"></script>

<!--
<script type="text/javascript" src="{%static 'jquery/highcharts.js'%}"></script>
-->
<script src="https://code.highcharts.com/highcharts.src.js"></script>

<script type="text/javascript" src="{%static 'jquery/piechart.js'%}"></script>

<script type="text/javascript" src="{%static 'jquery/dropdown.js'%}"></script>

<!--
<script type="text/javascript" src="{%static 'jquery/ajax_logged_in.js'%}"></script>
<script type="text/javascript" src="{%static 'jquery/need_login.js'%}"></script>
-->
<!--
<script type="text/javascript" src="{%static 'jquery/popup.js'%}"></script>
<script type="text/javascript" src="{%static 'jquery/singlelinechart.js'%}"></script>
<script type="text/javascript" src="{%static 'jquery/columnchart.js'%}"></script>
<script type="text/javascript" src="{%static 'jquery/tableline.js'%}"></script>
<script type="text/javascript" src="{%static 'jquery/stackedbarchart.js'%}"></script>
-->