{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" dir="ltr">
  <head>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="author" content="David Martin" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
	
    <title>Pronos Foot</title>
    
	<link rel="icon" href="{%static "images/favicon.ico"%}" type="image/x-icon"/>
	<script type="text/javascript" src="{%static "jquery/jquery-3.1.1.min.js"%}"></script>
    <script type="text/javascript" src="{%static "jquery/csrf.js"%}"></script>
	<link type="text/css" rel="stylesheet" href="{%static "css/pronosfoot.css"%}" />
  </head>
<body>
<div class="page light">

	<div id="header">
		<div id="masthead">
		    <div class="sizeLarge">
		        <p id="pronosfoot_logo"></p>
		    </div>
		</div>
    </div>
    
    <div class="body">
    	<div class="msg">
		{% block msg %}{% endblock %}
		</div>
    </div>
    
    <div id="footer" >
		{% include 'footer.html' %}
    </div>
    
</div>
</body>
</html>
