{% load static %}

<!doctype html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="David Martin" />
    <meta name="description" content="Pronos Foot. Pronostiquez sur la Ligue 1 entre amis.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

    <title>Pronos Foot</title>

    <link rel="icon" href="{%static "images/favicon.ico"%}" type="image/x-icon"/>

    {% block js_head %}
    <!--
      <script type="text/javascript" src="{%static 'jquery/jquery-1.6.1.min.js'%}"></script>
      -->
      <script type="text/javascript" src="{%static 'jquery/jquery-3.1.1.min.js'%}"></script>
    {% endblock js_head %}
    {% block css %}
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
      <link type="text/css" rel="stylesheet" href="{%static "css/styles.css"%}" />
    {% endblock css %}

  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      {% block header %} {% include 'header.html' %} {% endblock %}
      {% block nav %} {% include 'nav.html' %} {% endblock %}

      <div class="pronosfoot-content {%if selectedmenu == 'home'%}pronosfoot-home{%endif%} mdl-layout__content">
        <a name="gototop"></a> <!-- back to top anchor -->
        {% block top %}{% endblock top %}
        {% block content %}{% endblock content %}
        {% block footer %} {% include 'footer.html' %} {% endblock %}
      </div>
    </div>

    {% block js %}
      <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    {% endblock js %}

  </body>
</html>

