{% extends "base.html" %}

{% block content %}

  <div class="pronosfoot-player-main-section mdl-typography--text-center">
    <div class="logo-font pronosfoot-slogan">{% block error-title %}{% endblock %}</div>
    <div class="logo-font pronosfoot-sub-slogan mdl-typography--headline "> {% block error-detail %}{% endblock %}</div>
  </div>

  <div class="pronosfoot-customized-section">
    <div class="pronosfoot-customized-section">
      <div class="pronosfoot-customized-section-text">
        <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">
        <p class="mdl-typography--font-light"><br></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

