<!-- FOOTER -->
<div class="pronosfoot-customized-section">
  <div class="pronosfoot-footer-image"></div>
</div>

<footer class="pronosfoot-footer mdl-mega-footer">
  <div class="mdl-mega-footer--top-section">
    <div class="mdl-mega-footer--left-section">
      <p>

      </p>
    </div>

    <div class="mdl-mega-footer--right-section">
      <a class="mdl-typography--font-light" href="#gototop">
        Back to Top
        <i class="material-icons">expand_less</i>
      </a>
    </div>
  </div>

  <div class="mdl-mega-footer--middle-section">
    <p class="mdl-typography--font-light pronosfoot-customized-section"><a href="mailto:pronosfoot@alwaysdata.net">Nous contacter</a></p>
    <p class="mdl-typography--font-light pronosfoot-customized-section ">Crafted with &lt;/&gt; by <a href="https://github.com/dmartin35/">David Martin</a>- Material Design by <a href="https://getmdl.io/index.html">Google</a> - Free images by <a href="http://www.freepik.com">Freepik</a>.</p>

  </div>


</footer>