<!-- light boxes -->
<div id="lb-mask"></div>
        
<div class="lb lb-login">
    <div id="lb-login">
    </div>
</div>

<div class="lb lb-reg">
    <div id="lb-reg">
    </div>
</div>

<div class="lb lb-to">
	<div id="lb-to">
    </div>
</div>

<div class="lb lb-pwd">
    <div id="lb-pwd">
    </div>
</div>

<div class="lb lb-info">
    <div id="lb-info">
    </div>
</div>

<div class="lb lb-evo">
    <div id="lb-evo">
    </div>
</div>

<div class="lb lb-pronos-stats">
    <div id="lb-pronos-stats">
    </div>
</div>
