{% load static %}

<div id="top" >
  <div class="pronosfoot-wrapper">
  <ul id="clubs_l1" class="logos_clubs">
    {% comment %}
    <li><a target="_blank" href="https://ac-ajaccio.corsica/" class="logo_500765"><span>Ajaccio</span></a></li>
    <li><a target="_blank" href="https://www.angers-sco.fr/" class="logo_501931"><span>Angers</span></a></li>
    <li><a target="_blank" href="https://www.aja.fr/" class="logo_500220"><span>Auxerre</span></a></li>
    <li><a target="_blank" href="https://www.sb29.bzh" class="logo_500024"><span>Brest</span></a></li>
    <li><a target="_blank" href="https://www.clermontfoot.com/" class="logo_535789"><span>Clermont</span></a></li>
    <li><a target="_blank" href="https://www.rclens.fr/fr" class="logo_500369"><span>Lens</span></a></li>
    <li><a target="_blank" href="https://www.losc.fr/" class="logo_500054"><span>Lille</span></a></li>
    <li><a target="_blank" href="https://fclweb.fr/" class="logo_501913"><span>Lorient</span></a></li>
    <li><a target="_blank" href="https://www.ol.fr/fr" class="logo_500080"><span>Lyon</span></a></li>
    <li><a target="_blank" href="https://www.om.net/" class="logo_500083"><span>Marseille</span></a></li>
    <li><a target="_blank" href="https://www.asmonaco.com/" class="logo_500091"><span>Monaco</span></a></li>
    <li><a target="_blank" href="https://www.mhscfoot.com/" class="logo_500099"><span>Montpellier</span></a></li>
    <li><a target="_blank" href="https://www.fcnantes.com/" class="logo_501904"><span>Nantes</span></a></li>
    <li><a target="_blank" href="https://www.ogcnice.com/fr/" class="logo_500208"><span>Nice</span></a></li>
    <li><a target="_blank" href="https://www.psg.fr/" class="logo_500247"><span>Paris</span></a></li>
    <li><a target="_blank" href="https://www.stade-de-reims.com/" class="logo_542397"><span>Reims</span></a></li>
    <li><a target="_blank" href="https://www.staderennais.com/" class="logo_500015"><span>Rennes</span></a></li>
    <li><a target="_blank" href="https://www.rcstrasbourgalsace.fr/" class="logo_500191"><span>Strasbourg</span></a></li>
    <li><a target="_blank" href="https://www.toulousefc.com/fr/" class="logo_524391"><span>Toulouse</span></a></li>
    <li><a target="_blank" href="https://www.estac.fr/" class="logo_500073"><span>Troyes</span></a></li>
    {% endcomment %}

    {% for team_name in teams %}
        {% with team_name=team_name|lower %}
			{% with 'images/clubs/small/'|add:team_name|add:'.png' as image_static %}
              <li>
                <img class="team-logo" src="{% static image_static %}" alt="{{team_name}}"/>
              </li>
			{% endwith %}
		{% endwith %}
    {% endfor %}

    {#<li><a target="_blank" href="http://www.amiensfootball.com/" class="logo_500240"><span>Amiens SC</span></a></li>#}
    {#<li><a target="_blank" href="http://www.girondins.com/fr" class="logo_500211"><span>Girondins de Bordeaux</span></a></li>#}
    {#<li><a target="_blank" href="http://www.smcaen.fr/" class="logo_500075"><span>SM Caen</span></a></li>#}
    {#<li><a target="_blank" href="https://www.dfco.fr/" class="logo_547450"><span>Dijon FCO</span></a></li>#}
    {#<li><a target="_blank" href="http://www.eaguingamp.com/" class="logo_500126"><span>EA Guingamp</span></a></li>#}
    {#<li><a target="_blank" href="http://www.fcmetz.com/" class="logo_500154"><span>FC Metz</span></a></li>#}
    {#<li><a target="_blank" href="http://www.nimes-olympique.com/" class="logo_503313"><span>Nîmes Olympique</span></a></li>#}
    {#<li><a target="_blank" href="http://www.asse.fr/fr/" class="logo_500225"><span>AS Saint-Etienne</span></a></li>#}
  </ul>
</div>
</div>




