<div id="top" >
  <div class="pronosfoot-wrapper">
  <ul id="clubs_l1" class="logos_clubs">
    {#<li><a target="_blank" href="http://www.amiensfootball.com/" class="logo_500240"><span>Amiens SC</span></a></li>#}
    <li><a target="_blank" href="http://www.angers-sco.fr/" class="logo_501931"><span>Angers SCO</span></a></li>
    <li><a target="_blank" href="http://www.girondins.com/fr" class="logo_500211"><span>Girondins de Bordeaux</span></a></li>
    <li><a target="_blank" href="https://www.sb29.bzh" class="logo_500024"><span>Stade Brestois 29</span></a></li>
    <li><a target="_blank" href="https://www.clermontfoot.com/" class="logo_535789"><span>Clermont</span></a></li>
    {#<li><a target="_blank" href="http://www.smcaen.fr/" class="logo_500075"><span>SM Caen</span></a></li>#}
    {#<li><a target="_blank" href="https://www.dfco.fr/" class="logo_547450"><span>Dijon FCO</span></a></li>#}
    {#<li><a target="_blank" href="http://www.eaguingamp.com/" class="logo_500126"><span>EA Guingamp</span></a></li>#}
    <li><a target="_blank" href="https://www.rclens.fr/fr" class="logo_500369"><span>Lens</span></a></li>
    <li><a target="_blank" href="https://www.losc.fr/" class="logo_500054"><span>LOSC</span></a></li>
    <li><a target="_blank" href="https://fclweb.fr/" class="logo_501913"><span>Lorient</span></a></li>
    <li><a target="_blank" href="http://www.olweb.fr/fr/" class="logo_500080"><span>Olympique Lyonnais</span></a></li>
    <li><a target="_blank" href="https://www.om.net/" class="logo_500083"><span>Olympique de Marseille</span></a></li>
    <li><a target="_blank" href="http://www.fcmetz.com/" class="logo_500154"><span>FC Metz</span></a></li>
    <li><a target="_blank" href="http://www.asmonaco.com/fr/" class="logo_500091"><span>AS Monaco</span></a></li>
    <li><a target="_blank" href="http://www.mhscfoot.com/" class="logo_500099"><span>Montpellier Hérault SC</span></a></li>
    <li><a target="_blank" href="http://www.fcnantes.com/accueil.php" class="logo_501904"><span>FC Nantes</span></a></li>
    <li><a target="_blank" href="http://www.ogcnice.com/fr/" class="logo_500208"><span>OGC Nice</span></a></li>
    {#<li><a target="_blank" href="http://www.nimes-olympique.com/" class="logo_503313"><span>Nîmes Olympique</span></a></li>#}
    <li><a target="_blank" href="http://www.psg.fr/fr/Accueil/0/Home" class="logo_500247"><span>Paris Saint-Germain</span></a></li>
    <li><a target="_blank" href="http://stade-de-reims.com/" class="logo_542397"><span>Stade de Reims</span></a></li>
    <li><a target="_blank" href="http://www.staderennais.com/" class="logo_500015"><span>Stade Rennais FC</span></a></li>
    <li><a target="_blank" href="http://www.asse.fr/fr/" class="logo_500225"><span>AS Saint-Etienne</span></a></li>
    <li><a target="_blank" href="http://www.rcstrasbourgalsace.fr/" class="logo_500191"><span>RC Strasbourg Alsace</span></a></li>
    {#<li><a target="_blank" href="http://www.tfc.info/" class="logo_524391"><span>Toulouse FC</span></a></li>#}
    <li><a target="_blank" href="http://www.estac.fr/" class="logo_500073"><span>ESTAC Troyes</span></a></li>
  </ul>
</div>
</div>
