{% extends "page.html" %}
{% load static %}


     {%block mobile-title%}titre mobile
      {%endblock mobile-title%}

{% block content %}
{{block.super}}


<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a href="#tab-fixtures-panel" class="mdl-tabs__tab is-active">Journée</a>
      <a href="#tab-calendar-panel" class="mdl-tabs__tab">Calendrier</a>
      <a href="#tab-teams-panel" class="mdl-tabs__tab">équipes</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="tab-fixtures-panel">
    <!-- Your content goes here -->
    <div class="pronosfoot-wrapper">
	  <h4 class="mdl-typography--font-light mdl-typography--display-color-contrast-light text-center">Matches & résultats par journée</h4>
    </div>

	  {%include "global/weekselection.html"%}
      {%include 'contents/fixtures.html'%}
  </div>
  <div class="mdl-tabs__panel" id="tab-calendar-panel">
    <!-- Your content goes here -->
    <div class="pronosfoot-wrapper">
	<h4 class="mdl-typography--font-light mdl-typography--display-color-contrast-light text-center">Calendrier des jours de matches</h4>
	  {%include 'contents/calendar.html'%}
	  {%include 'contents/calendar_legend.html'%}
    </div>
  </div>

  <div class="mdl-tabs__panel" id="tab-teams-panel">
    <!-- Your content goes here -->
    <div class="pronosfoot-wrapper">
	  <h4 class="mdl-typography--font-light mdl-typography--display-color-contrast-light text-center">Matches & résultats par équipe</h4>
    </div>
      <div class="team-select-centered-wrapper">{%include 'global/teamselection.html'%}</div>
      {%include 'contents/fixtures_team.html'%}
  </div>

</div>


{% endblock %}

{% block js %}
{{block.super}}
<script type="text/javascript">
	$(document).ready(function() {
       $('#weekselection').pf_dropdown(Urls.ajax_fixtures_week,'#fixtures');
       $('#teamselection').pf_dropdown(Urls.ajax_fixtures_team,'#fixtures_team');
	});
</script>
{% endblock %}
