{% extends "page.html" %}

{% block content %}
{{block.super}}


<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a href="#tab-forecasts-day-panel" class="mdl-tabs__tab is-active">Journée</a>
      <a href="#tab-forecasts-season-panel" class="mdl-tabs__tab">Saison</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="tab-forecasts-day-panel">
    <!-- Your content goes here -->
    <div class="pronosfoot-wrapper">
	  <h4 class="mdl-typography--font-light mdl-typography--display-color-contrast-light text-center">Vos pronostics & résultats par journée</h4>
	  {%include "global/weekselection.html"%}
	  {%include 'contents/pronos_matches.html'%}
	  {%include 'contents/pronos_matches_legend.html'%}
    </div>

  </div>
  <div class="mdl-tabs__panel" id="tab-forecasts-season-panel">
    <!-- Your content goes here -->
    <div class="pronosfoot-wrapper">
	  <h4 class="mdl-typography--font-light mdl-typography--display-color-contrast-light text-center">Vos pronostics pour l'issue de la saison {{season}}</h4>
	  {%include 'contents/pronos_saison.html'%}
	  {%include 'contents/pronos_saison_legend.html'%}
    </div>

  </div>

</div>

{% endblock %}



{% block js %}
{{block.super}}
<script type="text/javascript">
  $(document).ready(function() {
     $('#weekselection').pf_dropdown(Urls.ajax_forecasts_fixtures,'#forecasts');

     $("#tab-forecasts-day-panel").on('click', '.revealMore', function(){
      var parent = $(this).parent();
      if (parent.hasClass('expanded')) {
        parent.removeClass('expanded');
      } else {
        var next = parent.next();
        if (next.data('loaded') != 'loaded') {
          // loads the inner html - only if the innerhtml was empty ie. first access
          var url = next.data('expanded-content-url');
          $.get(url).done(function(data){
            next.data('loaded', 'loaded');
            next.html(data);
          }).fail(function() {
            next.html('<div class="text-center">Erreur lors du chargement des données</div>');
          });
        }
        parent.addClass('expanded');
      }
     });
  });
</script>
{% endblock %}
