<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Pronos Foot - %(title)s</title>

</head>
<body style="font: 13px/20px Helvetica,Arial,clean,sans-serif;line-height:1;color:#000000;">

<table align="center" cellSpacing="0" cellPadding="0" width="769" style="">
<tbody>

<tr>
<td style="background-color:#060606; width:769px; height: 125px;">
	<a href="http://pronosfoot.alwaysdata.net/" >
	<img alt="" src="http://pronosfoot.alwaysdata.net/static/images/mail/header.png" width="769" height="125" >
	</a>
</td>
</tr>
                
<tr>
    <td>
    <table align="center" cellSpacing="0" cellPadding="0" width="650" style="border: 0">
        <tr>
            <th colspan="2" align="right" style="text-transform: uppercase;color: #B2AAA4;font-family: tandelle-1, tandelle-2, Impact, Sans-serif, sans;font-size: 22px; padding-top: 5px;font-weight:bold;">
                %(title)s
            </th>
        </tr>
        <tr>
            <th colspan="2" align="right" style="text-transform: uppercase;color: #1D1D1D;font-size: 14px;font-weight: bold;padding: 5px 0 12px 10px;">
                %(subtitle)s
            </th>
        </tr>
        
        <tr>
            <td style="width:600px;">
                <p>
                <span style="color: #191919;font-size: 14px;font-variant: small-caps;font-weight: bold;">%(user)s</span>,<br> 
                <br>
                %(content)s
                <br>
                <br>
                L'&eacute;quipe <span style="color: #191919;font-size: 14px;font-variant: small-caps;font-weight: bold;">pronos foot</span>.<br> <br> 
                </p>
            </td>
        </tr>
        
    </table>
    </td>
</tr>

<tr>
<td>
	 
	<table cellSpacing="0" cellPadding="0" width="769" height="40" style=" font-size:10px;">
	<tr>
		<td style="width: 210px; background-color:#060606;">
		    <a href="mailto:pronosfoot@alwaysdata.net">
		    <img height="40" alt="" src="http://pronosfoot.alwaysdata.net/static/images/mail/footer_contact.png" width="210" style="border:none;">
		    </a>
		</td>
		<td style="width: 559px; background-color:#191918;">
		    <a href="http://pronosfoot.alwaysdata.net/%(unsubscribeurl)s" >
		    <img height="40" alt="" src="http://pronosfoot.alwaysdata.net/static/images/mail/footer_%(mailtype)s.png" width="559" style="border:none;">
		    </a>		
		</td>
	</tr>
	</table>

</td>
</tr>

</tbody>
</table>

</body>
</html>
