Vous n'avez pas encore enregistr&eacute; vos pronostics
pour %(num_matches)s match%(plural_es)s du %(date)s 
comptant pour la %(week_loc)s journ&eacute;e de Ligue 1&trade;.<br>

Nous vous rappelons que vous pouvez saisir et modifier
vos pronostics jusqu'&agrave; la derni&egrave;re seconde avant 
le d&eacute;but de chaque match.<br>

Nous vous invitons &agrave; enregistrer vos pronostics d&egrave;s 
<a href="http://pronosfoot.alwaysdata.net/" style="color: #396438; text-decoration: none; font-weight:bold;">maintenant</a>
.<br>
