
#top {
    background: #f3f3f3;
    height: 78px;
    overflow: hidden;
    position: relative;
    padding: 0 40px;
}
#top ol, ul {
    list-style: none outside none;
}
#top #clubs_l1{/*bottom:30px;left:110px;position:absolute;*/padding: 0;}
#top #clubs_l1 a{display:block;float:left;height:/*32px*/32px;width:30px;margin:8px;padding-bottom: 5px;}
#top #clubs_l1 a:hover {border-bottom: 2px solid #D3423D;}
#top #clubs_l1 a span{left:-9999px;position:absolute;top:-9999px;}

@media (max-width: 900px) {
    /*
    #top {
        height: 128px;
        padding: 0px 20px;
        display: none;
    }
    #top #clubs_l1 a{margin:3px;height:46px;padding: 0;}
    #top #clubs_l1 a:hover {border-bottom: 0px;}
    */
    #top {
        height: 0px;
        padding: 0;
        margin: 0;
        visibility: hidden;
    }
    #top #clubs_l1 {display: none;}


}

/* Icons img-slice from LFP */


#top #clubs_l1 a{background-image:url(../images/logos_30_l1_l2.png);}

/*Angers*/
#top #clubs_l1 a.logo_501931{background-position:0 0px;}

/*SC Bastia*/
#top #clubs_l1 a.logo_508009{background-position:0 -45px;}

/*Girondins de Bordeaux*/
#top #clubs_l1 a.logo_500211{background-position:0 -90px;}

/*CAEN*/
#top #clubs_l1 a.logo_500075{background-position:0 -138px;}

/*Dijon FCO*/
#top #clubs_l1 a.logo_547450{background-position:0 -180px;}

/*Guingamp*/
#top #clubs_l1 a.logo_500126{background-position:0 -225px;}

/*LOSC Lille*/
#top #clubs_l1 a.logo_500054{background-position:0 -270px;}

/*FC Lorient*/
#top #clubs_l1 a.logo_501913{background-position:0 -315px;}

/*Olympique Lyonnais*/
#top #clubs_l1 a.logo_500080{background-position:0 -360px;}

/*Olympique de Marseille*/
#top #clubs_l1 a.logo_500083{background-position:0 -405px;}

/*METZ*/
#top #clubs_l1 a.logo_500154{background-position:0 -450px;}

/*Monaco*/
#top #clubs_l1 a.logo_500091{background-position:0 -495px;}

/*Montpellier Herault SC*/
#top #clubs_l1 a.logo_500099{background-position:0 -540px;}

/*NANCY*/
#top #clubs_l1 a.logo_500302{background-position:0 -585px;}

/*Nantes*/
#top #clubs_l1 a.logo_501904{background-position:0 -630px;}

/*OGC Nice*/
#top #clubs_l1 a.logo_500208{background-position:0 -675px;}

/*Paris Saint-Germain*/
#top #clubs_l1 a.logo_500247{background-position:0 -720px;}

/*Stade Rennais FC*/
#top #clubs_l1 a.logo_500015{background-position:0 -765px;}

/*AS Saint-Etienne*/
#top #clubs_l1 a.logo_500225{background-position:0 -810px;}

/*Toulouse FC*/
#top #clubs_l1 a.logo_524391{background-position:0 -855px;}




