
#top {
    background: #f3f3f3;
    height: 78px;
    overflow: hidden;
    position: relative;
    padding: 0 40px;
}
#top ol, ul {
    list-style: none outside none;
}
#top #clubs_l1{/*bottom:30px;left:110px;position:absolute;*//*padding: 0;*/}
#top #clubs_l1 a{display:block;float:left;height:/*32px*/32px;width:30px;margin:8px;padding-bottom: 5px;}
#top #clubs_l1 a:hover {border-bottom: 2px solid #D3423D;}
#top #clubs_l1 a span{left:-9999px;position:absolute;top:-9999px;}

#top #clubs_l1 li {display: inline-block;float: left;margin: 5px;}
#top #clubs_l1 img.team-logo {float:left;width:40px;height:40px;}

@media (max-width: 900px) {
    /*
    #top {
        height: 128px;
        padding: 0px 20px;
        display: none;
    }
    #top #clubs_l1 a{margin:3px;height:46px;padding: 0;}
    #top #clubs_l1 a:hover {border-bottom: 0px;}
    */
    #top {
        height: 0px;
        padding: 0;
        margin: 0;
        visibility: hidden;
    }
    #top #clubs_l1 {display: none;}


}

/* Icons img-slice from LFP */

#top #clubs_l1 a, #top #clubs_l1 a{background-image:url(../images/logos_30_l1_l2.png);}

/*Amiens SC*/
#top #clubs_l1 a.logo_500240{background-position:0 0px;}

/*Angers SCO*/
#top #clubs_l1 a.logo_501931{background-position:0 -45px;}

/*Girondins de Bordeaux*/
#top #clubs_l1 a.logo_500211{background-position:0 -90px;}

/*SM Caen*/
#top #clubs_l1 a.logo_500075{background-position:0 -135px;}

/*Dijon FCO*/
#top #clubs_l1 a.logo_547450{background-position:0 -180px;}

/*EA Guingamp*/
#top #clubs_l1 a.logo_500126{background-position:0 -225px;}

/*LOSC*/
#top #clubs_l1 a.logo_500054{background-position:0 -270px;}

/*Olympique Lyonnais*/
#top #clubs_l1 a.logo_500080{background-position:0 -315px;}

/*Olympique de Marseille*/
#top #clubs_l1 a.logo_500083{background-position:0 -360px;}

/*FC Metz*/
#top #clubs_l1 a.logo_500154{background-position:0 -405px;}

/*AS Monaco*/
#top #clubs_l1 a.logo_500091{background-position:0 -450px;}

/*Montpellier Hérault SC*/
#top #clubs_l1 a.logo_500099{background-position:0 -495px;}

/*FC Nantes*/
#top #clubs_l1 a.logo_501904{background-position:0 -540px;}

/*OGC Nice*/
#top #clubs_l1 a.logo_500208{background-position:0 -585px;}

/*Paris Saint-Germain*/
#top #clubs_l1 a.logo_500247{background-position:0 -630px;}

/*Stade Rennais FC*/
#top #clubs_l1 a.logo_500015{background-position:0 -675px;}

/*AS Saint-Etienne*/
#top #clubs_l1 a.logo_500225{background-position:0 -720px;}

/*RC Strasbourg Alsace*/
#top #clubs_l1 a.logo_500191{background-position:0 -765px;}

/*Toulouse FC*/
#top #clubs_l1 a.logo_524391{background-position:0 -810px;}

/*ESTAC Troyes*/
#top #clubs_l1 a.logo_500073{background-position:0 -855px;}



/*AC ajaccio*/
#top #clubs_l1 a.logo_500765{background-position:0 -900px;}

/*GFC Ajaccio*/
#top #clubs_l1 a.logo_546836{background-position:0 -945px;}

/*AJ Auxerre*/
#top #clubs_l1 a.logo_500220{background-position:0 -990px;}

/*BOURG PERONNAS*/
#top #clubs_l1 a.logo_504281{background-position:0 -1035px;}

/*Brest*/
#top #clubs_l1 a.logo_500024{background-position:0 -1080px;}

/*chateauroux*/
#top #clubs_l1 a.logo_500098{background-position:0 -1125px;}

/*Clermont Foot*/
#top #clubs_l1 a.logo_535789{background-position:0 -1170px;}

/*Havre AC*/
#top #clubs_l1 a.logo_500052{background-position:0 -1215px;}

/*LENS*/
#top #clubs_l1 a.logo_500369{background-position:0 -1260px;}

/*FC Lorient*/
#top #clubs_l1 a.logo_501913{background-position:0 -1305px;}

/*NANCY*/
#top #clubs_l1 a.logo_500302{background-position:0 -1350px;}

/*Nimes Olympique*/
#top #clubs_l1 a.logo_503313{background-position:0 -1395px;}

/*Chamois Niortais*/
#top #clubs_l1 a.logo_506978{background-position:0 -1440px;}

/*ORLEANS*/
#top #clubs_l1 a.logo_504891{background-position:0 -1485px;}

/*Paris FC*/
#top #clubs_l1 a.logo_500568{background-position:0 -1530px;}

/*Stade de Reims*/
#top #clubs_l1 a.logo_542397{background-position:0 -1617px;}

/*quevilly rouen*/
#top #clubs_l1 a.logo_531562{background-position:0 -1575px;}

/*FC Sochaux-Montbeliard*/
#top #clubs_l1 a.logo_500303{background-position:0 -1665px;}

/*Tours FC*/
#top #clubs_l1 a.logo_504917{background-position:0 -1710px;}

/*Valenciennes FC*/
#top #clubs_l1 a.logo_500250{background-position:0 -1755px;}
