#top #clubs_l1 a{background-image:url(../images/logos_30_l1_l2.png);}

/*Angers*/
#top #clubs_l1 a.logo_501931{background-position:0 0px;}

/*SC Bastia*/
#top #clubs_l1 a.logo_508009{background-position:0 -45px;}

/*Girondins de Bordeaux*/
#top #clubs_l1 a.logo_500211{background-position:0 -90px;}

/*CAEN*/
#top #clubs_l1 a.logo_500075{background-position:0 -138px;}

/*Dijon FCO*/
#top #clubs_l1 a.logo_547450{background-position:0 -180px;}

/*Guingamp*/
#top #clubs_l1 a.logo_500126{background-position:0 -225px;}

/*LOSC Lille*/
#top #clubs_l1 a.logo_500054{background-position:0 -270px;}

/*FC Lorient*/
#top #clubs_l1 a.logo_501913{background-position:0 -315px;}

/*Olympique Lyonnais*/
#top #clubs_l1 a.logo_500080{background-position:0 -360px;}

/*Olympique de Marseille*/
#top #clubs_l1 a.logo_500083{background-position:0 -405px;}

/*METZ*/
#top #clubs_l1 a.logo_500154{background-position:0 -450px;}

/*Monaco*/
#top #clubs_l1 a.logo_500091{background-position:0 -495px;}

/*Montpellier Herault SC*/
#top #clubs_l1 a.logo_500099{background-position:0 -540px;}

/*NANCY*/
#top #clubs_l1 a.logo_500302{background-position:0 -585px;}

/*Nantes*/
#top #clubs_l1 a.logo_501904{background-position:0 -630px;}

/*OGC Nice*/
#top #clubs_l1 a.logo_500208{background-position:0 -675px;}

/*Paris Saint-Germain*/
#top #clubs_l1 a.logo_500247{background-position:0 -720px;}

/*Stade Rennais FC*/
#top #clubs_l1 a.logo_500015{background-position:0 -765px;}

/*AS Saint-Etienne*/
#top #clubs_l1 a.logo_500225{background-position:0 -810px;}

/*Toulouse FC*/
#top #clubs_l1 a.logo_524391{background-position:0 -855px;}



/*AC ajaccio*/
#top #clubs_l2 a.logo_500765{background-position:0 -900px;}

/*GFC Ajaccio*/
#top #clubs_l2 a.logo_546836{background-position:0 -945px;}

/*Amiens*/
#top #clubs_l2 a.logo_500240{background-position:0 -990px;}

/*AJ Auxerre*/
#top #clubs_l2 a.logo_500220{background-position:0 -1035px;}

/*BOURG PERONNAS*/
#top #clubs_l2 a.logo_504281{background-position:0 -1080px;}

/*Brest*/
#top #clubs_l2 a.logo_500024{background-position:0 -1125px;}

/*Clermont Foot*/
#top #clubs_l2 a.logo_535789{background-position:0 -1170px;}

/*Stade Lavallois*/
#top #clubs_l2 a.logo_500016{background-position:0 -1215px;}

/*Havre AC*/
#top #clubs_l2 a.logo_500052{background-position:0 -1260px;}

/*LENS*/
#top #clubs_l2 a.logo_500369{background-position:0 -1305px;}

/*Nimes Olympique*/
#top #clubs_l2 a.logo_503313{background-position:0 -1350px;}

/*Chamois Niortais*/
#top #clubs_l2 a.logo_506978{background-position:0 -1395px;}

/*ORLEANS*/
#top #clubs_l2 a.logo_504891{background-position:0 -1440px;}

/*RED STAR*/
#top #clubs_l2 a.logo_500002{background-position:0 -1485px;}

/*Stade de Reims*/
#top #clubs_l2 a.logo_542397{background-position:0 -1530px;}

/*FC Sochaux-Montbeliard*/
#top #clubs_l2 a.logo_500303{background-position:0 -1575px;}

/*Strasbourg*/
#top #clubs_l2 a.logo_500191{background-position:0 -1617px;}

/*Tours FC*/
#top #clubs_l2 a.logo_504917{background-position:0 -1665px;}

/*ESTAC Troyes*/
#top #clubs_l2 a.logo_500073{background-position:0 -1710px;}

/*Valenciennes FC*/
#top #clubs_l2 a.logo_500250{background-position:0 -1755px;}


