/**** Custom drop down ****/

dl.dropdown{
	width: 150px;
	height: 20px;
	margin: 0;
}

.dropdown dd, 
.dropdown dt, 
.dropdown ul{ 
	margin:0; 
	padding:0; 
}

.dropdown dd{
	position:relative;
}

.dropdown a, 
.dropdown a:visited
{
	color:#1D1D1D;
	text-decoration:none; 
	outline:none;
	font-weight: normal;
}

h2 .dropdown dt a
{
	font-size: 14px;
	font-weight: bold;
}

.dropdown dt a .link
{
	background:url("/static/images/sprite_pronosfoot.png") no-repeat scroll -700px -272px #FFFFFF;
	display:block; 
	border:0; 
	width:16px;
	height:16px;
	float: right;
    position: relative;
    right: 18px;
    top: -18px;
}

.dropdown dt a:hover .link,
.dropdown dt a.opened .link
{
	background:url("/static/images/sprite_pronosfoot.png") no-repeat scroll -717px -272px #FFFFFF;
}

.dropdown dt a span
{
	cursor:pointer; 
	display:block; 
	padding:0;
	margin: 0 10px 0 5px;
}

.dropdown dd ul
{
	background:white none repeat scroll 0 0; 
	border:1px solid gray; 
	display:none; 
	position:absolute; 
	list-style:none;
    height:200px; 
    overflow:auto;
    width: 120px;
}

.dropdown span.value
{
	display:none;
}

.dropdown dd ul li a
{
	display:block;
	padding: 3px 5px 3px 5px;
}

.dropdown dd ul li a:hover,
.dropdown dd ul li a.selected
{
	background: #396438;
	color: #FFFFFF; 
}
