
.stats-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px;
}




.stats-wrapper{
    text-align: center;
}

.stats-wrapper .statsnumber-wrapper{
    margin: 0 auto 30px auto;
    text-align: center;
    overflow: hidden;
    zoom: 1;
    font-size: 0;
}


.stats-wrapper .statsnumber-wrapper .stat-wrapper {
    width: 100%;
    clear: right;
    float: left;
    margin-right: 2.12766%;
    margin: 0;
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
    float: none;
    position: relative;
    padding-left: 1.06383%;
    padding-right: 1.06383%;
}


.stats-wrapper .statsnumber-wrapper .stat-wrapper .stat-label{
	display:block;
	width:100%;
	font-weight:700;
	font-size:18px;
	text-transform:uppercase;
	line-height:1;
}

.stats-wrapper .statsnumber-wrapper .stat-wrapper .stat-value{
	display:block;
	width:100%;
	/*
	color:#e53527;
	color: #D3423D;
	*/
	font-size:70px;
	font-weight:700;
	line-height:1;
}

.stats-wrapper .statsnumber-wrapper .stat-wrapper:first-child:after {
	display:none;
}

@media (min-width:35em) {
    .stats-wrapper .statsnumber-wrapper .stat-wrapper {
		width:45%;
		clear:right;
		float:left;
		margin-right:2%;
		float:none;
		margin:0;
		margin-bottom:30px;
	}
    .stats-wrapper .statsnumber-wrapper .stat-wrapper:nth-child(2n + 2):after {
		content:" ";
		position:absolute;
		left:0;
		border-right:1px solid #e9e9e9;
		height:70px;
		bottom:0;
	}


}

@media (min-width:62em) {
    .stats-wrapper .statsnumber-wrapper .stat-wrapper {
		width: 15%;
		clear:right;
		float:left;
		margin-right:2%;
		float:none;
		margin:0;
	}
    .stats-wrapper .statsnumber-wrapper .stat-wrapper:after {
		content:" ";
		position:absolute;
		left:0;
		border-right:1px solid #e9e9e9;
		height:70px;
		bottom:0;
	}

}

@media screen and (min-width: 0px) and (max-width: 360px){
    .stats-wrapper .statsnumber-wrapper .stat-wrapper .stat-value {
	    font-size:45px;
	}
}

.pf-stat-item-left{

}
.pf-stat-item-right{
    text-align: right;
    display: inherit;
}

.pf-stat-item-sep{
    left: 0;
    border-bottom: 1px solid #e9e9e9;
    height: 1px;
    min-height: 1px;
    bottom: 0;
    margin: 16px 75px;
    padding: 0;
}

@media screen and (min-width: 0px) and (max-width: 600px){
    .pf-stat-item-right{
            text-align: left;
    }
}

/* center element inside div */

.team-select-centered-wrapper select#teamselection {
    display: block;
    margin: 0 auto;
}


.pronosfoot-logo-xlarge {
    height: 150px;
    padding: 20px;
}


.team_trend
{
	font-size: 22px;
    font-weight: 500;
    padding-right: 4px;
    margin-top: -4px;

}

.G, .W{
	color: #4caf50;
	color: #8bc34a;
}

.N, .D{
	color: #B2AAA4;
	color: #adadad;
}

.P, .L{
	color: #D3423D;
	color: #D3423D;
}


.team-logo-small{
    width: 20px;
    display: inline-block;
    vertical-align: middle;
/*    margin-right: 10px;*/
}



/*A TESTER*/


.mdl-layout-login {
    align-items: center;
    justify-content: center;
}
.mdl-layout-login {
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
}


/*




.mdl-layout-login {
	align-items: center;
  justify-content: center;
}
.mdl-layout-login__content {
	padding: 24px;
	flex: none;
}


original : blue pirmary color #3f51b5

#46acd9
*/

/*
.mdl-color--primary {
    background-color: #46acd9 !important;
}

.mdl-button.mdl-button--colored {
    color: #46acd9;
}

*/

#reset_pwd{
color: #3f51b5;
font-size: 12px;
font-weight: 200;
text-decoration: none;
}
#reset_pwd:hover{
text-decoration: underline;
}

.mdl-form__error {
    color: #d50000;
    position: relative;
    font-size: 12px;
    margin-top: 3px;
    visibility: hidden;
    display: block;
}

.mdl-form.is-invalid .mdl-form__error{
visibility: visible;
}

/*
.mdl-layout-login {
background-color: #f5f5f5;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231a1a1b' fill-opacity='0.12' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
*/

@media screen and (min-width: 0px) and (max-width: 600px){
    .mdl-layout-login.mdl-color--grey-100 {
        background-color: #fff !important;
        background-image: none !important;
    }
    .mdl-layout-login .mdl-shadow--6dp {
        box-shadow: none;
        -webkit-box-shadow: none;
	    -moz-box-shadow: none;
    }

    /*disable footer for small screens - except for Home page */

    .pronosfoot-footer-image {
        display: none;
    }
    .pronosfoot-footer {
        display: none;
    }

    .pronosfoot-home .pronosfoot-footer-image {
        display: block;
    }
    .pronosfoot-home .pronosfoot-footer {
        display: block;
    }




}



.floatLeft, .float-left {
	float: left;
	text-align: left;
}

.floatRight, .float-right {
	float: right;
	text-align: right;
}


#forecasts_league .mdl-list__item-secondary-content{
    opacity: 0.75;
}

#forecasts_league i.fa {
    margin-left: 10px;
}

.pf-list__item-sep{
    left: 0;
    border-bottom: 1px solid #e9e9e9;
    height: 1px;
    min-height: 1px;
    bottom: 0;
    margin: 16px 75px;
    padding: 0;
}


.pf-error{
	color: #d50000;
}
.pf-success{
	color: #467144;
}

/* fixtures tables */

.fixtures .date{
    font-size: 15px;
    color: #666;
}

.fixtures .match-list > li {
    border-top: 1px solid #e9e9e9;
    padding: 16px 0;
    max-height: 45px;
}

.fixtures .match-list {
    border-bottom: 1px solid #e9e9e9;
    padding: 0;
}

.fixture {
    max-height: 45px;
    width: 100%;
    /*padding: .5rem 4rem .5rem 0;*/
    /*padding: 5px 20px 5px 0;*/
    min-height: 30px;
    /*display: block;*/
    display: inherit;
    line-height: 35px;
}

.fixture span, .fixture time {
    display: inline-block;
    vertical-align: middle;
}

/*
.fixture .teams {
    width: 100%;
    display: block;
}
*/

.fixture .team:first-of-type {
    text-align: right;
    padding-left: 0;
    padding-right: 7.5rem;
}

.fixture .team {
    width: 50%;
    padding-left: 7.5rem;
    position: relative;
}

.fixture .score, .fixture time {
    width: 5rem;
    text-align: center;
    position: absolute;
    /*top: 50%;*/
    left: 50%;
    margin-left: -2.5rem;
    /*margin-top: -1.5rem;*/
    margin-top: 4px;
    line-height: 30px;
}

.fixture .score{
    /*background-color: #454e88;*/
    background-color: #3849a2;
    color: white;
}

.fixture time {
    background-color: #adadad;
    color: white;
}


.fixture .team-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-weight: 300;
}
.fixture .team-name.winner {
    font-weight: 400;
}
.fixture .team-name .long {display: inline-block;}
.fixture .team-name .short {display: none;}

.fixture .team-logo {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    left: 70px;
}

.fixture .team:first-of-type .team-logo {
    right: 70px;
}


@media screen and (min-width: 0px) and (max-width: 360px){

  .fixture .team-name .long {display: none;}
  .fixture .team-name .short {display: inline-block;}

  .fixture .team:first-of-type {
       padding-right: 85px;

    }

    .fixture .team {
        padding-left:85px;
    }

  .fixture .team-logo {
        left: 45px;
    }

    .fixture .team:first-of-type .team-logo {
        right: 45px;
    }


}
@media screen and (min-width: 0px) and (max-width: 600px){

  .fixture .team:first-of-type {
       padding-right: 75px;

    }

    .fixture .team {
        padding-left:75px;
    }

  .fixture .team-logo {
        left: 45px;
    }

    .fixture .team:first-of-type .team-logo {
        right: 45px;
    }

}

/*

@media (max-width:81.25em) {
}
@media (max-width:75em) {

}
@media (max-width:63.9375em) {

}
@media (max-width:56.25em) {
}

@media (max-width:43.75em) {
}
@media (max-width:31.25em) {
}
@media (max-width:28.125em) {

}

@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
}



*/



/* forecasts ->  fixtures with forecasts inputs & results*/
.forecasts .total-pts{
    display: inherit;
    width: 100%;
    text-align: right;
}

.forecast .team_name {
    padding: 5px 0;
}

.forecast .mdl-textfield {
    width: 50px;
    padding: 5px 0;
}
.forecast .mdl-textfield__input {
    text-align: center;

}

.forecast .mdl-textfield.is-invalid .mdl-textfield__input {
    border-color: #d50000;
    box-shadow: none;
    color: #d50000;
}

.forecast .mdl-textfield .mdl-textfield__input[disabled] {
    border-bottom: none;
}

.forecast .mdl-textfield__label {
    top: 0px;
}
.forecast .mdl-textfield__label:after{bottom:5px}
.forecast-sep {
    color: rgba(0,0,0,.54);
    font-size: 24px;
}

/*
.forecast-team-a:after {
    content: '';
    top: 1rem;
    bottom: 1rem;
    width: 2px;
    display: block;
    position: absolute;
    background: #76766f;
    background: rgba(0,0,0,.1);
    right: 0;
}
*/



.fixture.forecast {/*width: 90%;*/width: 100%; /*force it to be 100% - even if next div is 10% will force it to be full width when next div is hidden*/}
.fixture.forecast .team:first-of-type{padding-left: 0; padding-right: 5.5rem;}
.fixture.forecast .team{padding-left: 5.5rem;}
.fixture.forecast .team:first-of-type .team-logo {right: 40px;}
.fixture.forecast .team .team-logo {left: 40px;}



.forecast fieldset[disabled] .mdl-textfield .mdl-textfield__input, .forecasts .mdl-textfield.is-disabled .mdl-textfield__input {color: rgba(0,0,0,.54);}
/*
.forecasts fieldset[disabled] .mdl-textfield .mdl-textfield__label, .forecasts .mdl-textfield.is-disabled .mdl-textfield__label {display: none;}
*/
/*
.forecast .mdl-textfield__label:after{background-color:#3f51b5;bottom:4px;content:'';height:2px;left:45%;position:absolute;transition-duration:.2s;transition-timing-function:cubic-bezier(.4,0,.2,1);visibility:hidden;width:10px}
.forecast .mdl-textfield.is-focused .mdl-textfield__label:after{left:0;visibility:visible;width:50%; }
*/

.forecast.result{width: 10%;}

.forecast-team label .short {display: none;}

@media screen and (min-width: 0px) and (max-width: 675px){
    .fixture.forecast .team:first-of-type {
        padding-right: 3.5rem;
    }

    .fixture.forecast .team {
        padding-left: 3.5rem;
    }
    .fixture.forecast .team:first-of-type .team-logo {
        right: 15px;
    }
    .fixture.forecast .team .team-logo {
        left: 15px;
    }
}

@media screen and (min-width: 0px) and (max-width: 600px){
    .forecast-team .mdl-textfield__label .short {display: block; text-align: center;}
    .forecast-team .mdl-textfield__label .long {display: none;}
    .forecast-team .mdl-textfield {width: 20px;}
}

@media screen and (min-width: 0px) and (max-width: 500px){

  .fixture .team-name .long {display: none;}
  .fixture .team-name .short {display: inline-block;}
}

.forecast.revealMore {
    width: 10%;
}

.forecast.revealMore i {
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: rgba(0,0,0,0.54);
    font-weight: 100;
    font-size: 12px;
}
.forecast.revealMore i:hover {
    color: #000;
}
.forecast.revealMore i.fa-chevron-down {display: block;}
.forecast.revealMore i.fa-chevron-up {display: none;}

.forecasts .expandable {display: none;}
.forecasts .expandable h6{
	margin: 0;
	padding: 10px;
	font-weight: 300;
}

.forecasts .expanded+.expandable {
	display:block;
	width: 100%;
	background-color: #e9e9e9;
	max-height: none;
    border-bottom: 1px solid #989898;

}

.forecasts .expanded .forecast.revealMore i.fa-chevron-down {display: none;}
.forecasts .expanded .forecast.revealMore i.fa-chevron-up {display: block;}

.forecasts .expandable .trend{
    color: white;
    text-align: center;
    line-height: 30px;
    padding: 0 16px;
    /*display: inline-block;*/
}
.forecasts .expandable .trend .win,
.forecasts .expandable .trend .draw,
.forecasts .expandable .trend .lose{
    /*
    display: block;
    float: left;
    */
    height: 30px !important;
    position: relative;
    /*display: inherit;*/
    float: left;
}

.forecasts .expandable .trend .win{
    background-color: #8bc34a;
}
.forecasts .expandable .trend .draw{
    background-color: #adadad;
}
.forecasts .expandable .trend .lose{
    background-color: #D3423D;
}

.forecasts .expandable .trend-legend {
    font-size: 14px;
    padding: 16px;
}

.forecasts .expandable .trend-legend .label{
    top: -2px;
    position: relative;
}

.forecasts .expandable .trend-legend .color:after{
    content: "";
    position: inherit;
    left: 50%;
    top: 50%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 8px;
}
.forecasts .expandable .trend-legend .color.win:after{
    background-color: #8bc34a;
}
.forecasts .expandable .trend-legend .color.draw:after{
    background-color: #adadad;
}
.forecasts .expandable .trend-legend .color.lose:after{
    background-color: #D3423D;
}

.forecasts .expandable .info {
    font-size: 14px;
    font-weight: 300;
    padding: 0 16px;
}