{% load generic_tags %}

<div id="calendar" class="c-datepicker center">
  <div class="c-datepicker__calendar">
    <div class="c-datepicker__calendar" style="display: inline-block;">
	  <div class="c-datepicker__date">
		<div class="c-datepicker__month">
		  <div class="c-datepicker__month-title">
		    <button class="c-datepicker__back" type="button"></button>
		 	<span class="rd-month-label">{{current_month|date:"F Y"|capfirst}}</span>
            <button class="c-datepicker__next" type="button"></button>
		  </div>

          <table class="c-datepicker__days">
            <thead class="c-datepicker__days-head">
              <tr class="c-datepicker__days-row">
                <th class="c-datepicker__day-head">Lu</th>
                <th class="c-datepicker__day-head">Ma</th>
                <th class="c-datepicker__day-head">Me</th>
                <th class="c-datepicker__day-head">Je</th>
                <th class="c-datepicker__day-head">Ve</th>
                <th class="c-datepicker__day-head">Sa</th>
                <th class="c-datepicker__day-head">Di</th>
              </tr>
            </thead>

            <tbody class="c-datepicker__days-body">

            {%for week in calendar%}
              <tr class="c-datepicker__days-row">
                {%for day in week%}
                  <td class="c-datepicker__day-body
                    {%if day_to_week|has_key:day%}
                      c-datepicker__day--selected
                      {%if forecasts_cal%}{{forecasts_cal|getdictvalue:day}}{%else%}matchday{%endif%}
                    {%endif%}
                  "
                  {%if day_to_week|has_key:day%}data-week="{{day_to_week|getdictvalue:day}}"{%endif%}
                  >{%if day%}{{day}}{%endif%}</td>
                {%endfor%}
	          </tr>
            {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	$(document).ready(function() {

		$('.c-datepicker__back').click(function(){
			$.get(Urls.ajax_monthly_calendar("{{prev_year}}", "{{prev_month}}"), function(data) {
		    	$('#calendar').replaceWith(data);
	    	});
		});

		$('.c-datepicker__next').click(function(){
			$.get(Urls.ajax_monthly_calendar("{{next_year}}", "{{next_month}}"), function(data) {
		    	$('#calendar').replaceWith(data);
	    	});
		});


		$('#calendar .matchday').click(function(){
			var week = $(this).data('week');
			window.location= Urls.fixtures(week);
			//hack a click in the weekselection dropdown
			//$('#weekselection li#week_'+week+' a').click();
		});
		
		$('#calendar .empty, #calendar .half, #calendar .full').click(function(event){
			event.stopPropagation();
			var week = $(this).data('week');
			window.location= Urls.forecasts(week);
		});
		
		
	});
</script>