{% load static %}
{% load generic_tags %}


<table id="league_table" class="table">

  <thead>
  <tr>
    <th class="revealMoreHeader text-center" scope="col"></th>
    <th scope="col">
        <div class="thFull">Position</div>
        <div class="thShort">Pos</div>
    </th>
    <th class="team" scope="col">Club</th>
    <th scope="col" class="points">
        <div class="thFull">Points</div>
        <div class="thShort">Pts</div>
    </th>
    <th scope="col">
        <div class="thFull">Joués</div>
        <div class="thShort">J</div>
    </th>
    <th scope="col">
        <div class="thFull">Gagnés</div>
        <div class="thShort">G</div>
    </th>
    <th scope="col">
        <div class="thFull">Nuls</div>
        <div class="thShort">N</div>

    </th>
    <th scope="col">
        <div class="thFull">Perdus</div>
        <div class="thShort">P</div>
    </th>
    <th class="hideSmall" scope="col"><abbr title="Buts pour">Bp</abbr></th>
    <th class="hideSmall" scope="col"><abbr title="Buts contre">Bc</abbr></th>
    <th scope="col"><abbr title="Différence de buts">Diff</abbr></th>
    <th class="teamForm hideMed" scope="col">Forme</th>
  </tr>
  </thead>


  <tbody class="tableBodyContainer">

    {%for line in league_table%}
      <tr
            {%if forloop.counter == 1%}class="tableDark"{%endif%}
            {%if forloop.counter == 2%}class="tableMid"{%endif%}
            {%if forloop.counter == 3%}class="tableMid"{%endif%}
            {%if forloop.counter == 4%}class="tableLight"{%endif%}
            {%if forloop.counter == 5%}class="tableLight"{%endif%}
            {%if forloop.counter == 17%}class="tableMid"{%endif%}
            {%if forloop.counter == 18%}class="tableMid"{%endif%}
            {%if forloop.counter == 19%}class="tableMid"{%endif%}
            {%if forloop.counter == 20%}class="tableMid"{%endif%}
      >

        <td class="revealMore" tabindex="0" role="button">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </td>
        <td class="pos p{{forloop.counter}}" tabindex="0">
            <span class="value">{{forloop.counter}}</span>
            <span class="movement {{line.evo|movement}}"></span>
        </td>
        <td class="team" scope="row">
            {% with team_name=line.name|lower %}
              {% with 'images/clubs/small/'|add:team_name|add:'.png' as image_static %}
                <img src="{% static image_static %}" alt="logo"/>
                {% endwith %}
            {% endwith %}
            <span class="long">{{line.name}}</span><span class="short">{{line.name|slice:":3"|upper}} </span>
        </td>
        <td class="points">{{line.pts}}</td>
        <td>{{line.played}}</td>
        <td>{{line.win}}</td>
        <td>{{line.draw}}</td>
        <td>{{line.lose}}</td>
        <td class="hideSmall">{{line.goal_for}}</td>
        <td class="hideSmall">{{line.goal_against}}</td>
        <td class="diff">{{line.diff|goal_diff}}</td>
        <td class="form hideMed">
          {%if line.form%}
          <ul>
            {% for form in line.form %}
              <li tabindex="0" class="{{form}}" >{{form|WDL}}</li>
            {%endfor%}
          </ul>
          {%endif%}
        </td>
      </tr>
      <tr class="expandable">
      <td colspan="12" data-expanded-content-url="{%url "ajax_evo_team" line.id%}">
        <h6>Evolution de la position au classement</h6>
        <div id="team_{{line.id}}_evo_pos_chart_ctnr" style="height: 285px;" class="container"><em>Non disponible</em></div>
      </td></tr>
      {% endfor %}

  </tbody>
</table>