{% load generic_tags %}


<table id="players_table" class="table">

  <thead>
  <tr>
    <th class="revealMoreHeader text-center" scope="col"></th>
    <th scope="col">
        <div class="thFull">Position</div>
        <div class="thShort">Pos</div>
    </th>
    <th class="team" scope="col">Joueur</th>
    <th scope="col" class="points">
        <div class="thFull">Points</div>
        <div class="thShort">Pts</div>
    </th>
    <th class="hideSmall" scope="col">
        <div class="thFull">Scores</div>
    </th>
    <th class="hideSmall" scope="col">
        <div class="thFull">Issues</div>
    </th>
    <th class="hideSmall" scope="col">
        <div class="thFull">Matches</div>
    </th>
    <th scope="col">
        <div class="thFull">Moyenne</div>
        <div class="thShort">Moy</div>
    </th>
	{%if eos and final_players_table%}
      <th scope="col">
          <div class="thFull">Bonus</div>
          <div class="thShort">Bns</div>
      </th>
    {%endif%}
  </tr>
  </thead>


  <tbody class="tableBodyContainer">

    {%for line in players_table%}
      <tr
          {%if forloop.counter == 1%}class="tableDark"{%endif%}
          {%if forloop.counter == players_table|length%}class="tableMid"{%endif%}
      >

        <td class="revealMore" style="" tabindex="0" role="button">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </td>
        <td class="pos p{{forloop.counter}}" tabindex="0">
            <span class="value">{{forloop.counter}}</span>
            <span class="movement {{line.evo|movement}}"></span>
        </td>
        <td class="team" scope="row">
            <span class="long">{{line.name|lower|capfirst}}</span>
            <span class="short">{{line.name|lower|capfirst|truncatechars:25}} </span>
        </td>
        <td class="points">
          {%if line.total %}
            {{line.total}}
          {%else%}
            {{line.pts|default:0}}
          {%endif%}
        </td>
        <td class="hideSmall">{{line.scores|default_if_none:0}}</td>
        <td class="hideSmall">{{line.issues|default_if_none:0}}</td>
        <td class="hideSmall">{{line.matches|default_if_none:0}}</td>
        <td class="avg">{{line|avg_table_line|default_if_none:'-'}}</td>
        {%if eos and final_players_table%}
        <td class="bonnus">{{line.bonus|default_if_none:0}}</td>
        {%endif%}
      </tr>
      <tr class="expandable">
      <td colspan="8" data-expanded-content-url="{%url "ajax_evo_player" line.id%}">
        <h6>Evolution de la position au classement</h6>
        <div id="player_{{line.id}}_evo_pos_chart_ctnr" style="height: 155px;" class="container"><em>Non disponible</em></div>
      </td></tr>
      {% endfor %}

  </tbody>
</table>
