<div class="pronosfoot-card-container mdl-grid">
  <div class="center mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
       <h4 class="mdl-card__title-text">Légende</h4>
    </div>
    <div class="mdl-card__supporting-text">
      <span class="mdl-typography--font-light mdl-typography--subhead">
      Vous pouvez modifier vos pronostics jusqu'au {{fl_vote_date|date:"d F Y H:i"}}.
      Vous obtiendrez un bonus de 20 points par bon pronostic sur le classement final.
      </span>
    </div>
  </div>
</div>