{% load generic_tags %}


<div id="forecasts_league" class="mdl-grid">
  <div class="mdl-cell center mdl-cell--6-col mdl-cell--6-col-tablet">
    {{fl_form.user_id}}
    <ul class="mdl-list">
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            Champion d'Automne
          </span>
          {{fl_form.winner_midseason}}
          {%if fl_res|has_key:'winner_midseason'%}
            <i id="res_league_winner_midseason" class="fa {%if fl_res.winner_midseason%}fa-check pf-success{%else%}fa-times pf-error{%endif%}" aria-hidden="true"></i>
            <div class="mdl-tooltip" for="res_league_winner_midseason">Champion d'Automne: <br>{{fl_res_teams.winner_midseason}}</div>
          {%endif%}
        </li>
        <li class="pf-list__item-sep"></li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            Champion
          </span>
          {{fl_form.winner}}
          {%if fl_res|has_key:'winner'%}
            <i id="res_league_winner" class="fa {%if fl_res.winner%}fa-check pf-success{%else%}fa-times pf-error{%endif%}" aria-hidden="true"></i>
            <div class="mdl-tooltip" for="res_league_winner">Champion: <br>{{fl_res_teams.winner}}</div>
          {%endif%}
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            Dauphin
          </span>
          {{fl_form.second}}
          {%if fl_res|has_key:'second'%}
            <i id="res_league_second" class="fa {%if fl_res.second%}fa-check pf-success{%else%}fa-times pf-error{%endif%}" aria-hidden="true"></i>
            <div class="mdl-tooltip" for="res_league_second">Dauphin: <br>{{fl_res_teams.second}}</div>
          {%endif%}
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            Troisième
          </span>
          {{fl_form.third}}
          {%if fl_res|has_key:'third'%}
            <i id="res_league_third" class="fa {%if fl_res.third%}fa-check pf-success{%else%}fa-times pf-error{%endif%}" aria-hidden="true"></i>
            <div class="mdl-tooltip" for="res_league_third">Troisième: <br>{{fl_res_teams.third}}</div>
          {%endif%}
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-secondary-content">
            Qualifiés en Ligue des Champions
          </span>
        </li>
        <li class="pf-list__item-sep"></li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            Quatrième
          </span>
          {{fl_form.fourth}}
          {%if fl_res|has_key:'fourth'%}
            <i id="res_league_fourth" class="fa {%if fl_res.fourth%}fa-check pf-success{%else%}fa-times pf-error{%endif%}" aria-hidden="true"></i>
            <div class="mdl-tooltip" for="res_league_fourth">Quatrième: <br>{{fl_res_teams.fourth}}</div>
          {%endif%}
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-secondary-content">
            Qualifié en Ligue Europa
          </span>
        </li>
        <li class="pf-list__item-sep"></li>

        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            Cinquième
          </span>
          {{fl_form.fifth}}
          {%if fl_res|has_key:'fifth'%}
            <i id="res_league_fifth" class="fa {%if fl_res.fifth%}fa-check pf-success{%else%}fa-times pf-error{%endif%}" aria-hidden="true"></i>
            <div class="mdl-tooltip" for="res_league_fifth">Cinquième: <br>{{fl_res_teams.fifth}}</div>
          {%endif%}
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-secondary-content">
            Qualifié en Ligue Europa Conférence
          </span>
        </li>
        <li class="pf-list__item-sep"></li>

        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            Relégués
          </span>
          {{fl_form.looser1}}
          {%if fl_res|has_key:'looser1'%}
            <i id="res_league_looser1" class="fa {%if fl_res.looser1%}fa-check pf-success{%else%}fa-times pf-error{%endif%}" aria-hidden="true"></i>
            <div class="mdl-tooltip" for="res_league_looser1">Relégués: <br>{{fl_res_teams.looser1}}, {{fl_res_teams.looser2}}, {{fl_res_teams.looser3}}, {{fl_res_teams.looser4}} </div>
          {%endif%}
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
          </span>
          {{fl_form.looser2}}
          {%if fl_res|has_key:'looser2'%}
            <i id="res_league_looser2" class="fa {%if fl_res.looser2%}fa-check pf-success{%else%}fa-times pf-error{%endif%}" aria-hidden="true"></i>
            <div class="mdl-tooltip" for="res_league_looser2">Relégués: <br>{{fl_res_teams.looser1}}, {{fl_res_teams.looser2}}, {{fl_res_teams.looser3}}, {{fl_res_teams.looser4}} </div>
          {%endif%}
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
          </span>
          {{fl_form.looser3}}
          {%if fl_res|has_key:'looser3'%}
            <i id="res_league_looser3" class="fa {%if fl_res.looser3%}fa-check pf-success{%else%}fa-times pf-error{%endif%}" aria-hidden="true"></i>
            <div class="mdl-tooltip" for="res_league_looser3">Relégués: <br>{{fl_res_teams.looser1}}, {{fl_res_teams.looser2}}, {{fl_res_teams.looser3}}, {{fl_res_teams.looser4}} </div>
          {%endif%}
        </li>


        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
          </span>
          {{fl_form.looser4}}
          {%if fl_res|has_key:'looser4'%}
            <i id="res_league_looser4" class="fa {%if fl_res.looser4%}fa-check pf-success{%else%}fa-times pf-error{%endif%}" aria-hidden="true"></i>
            <div class="mdl-tooltip" for="res_league_looser4">Relégués: <br>{{fl_res_teams.looser1}}, {{fl_res_teams.looser2}}, {{fl_res_teams.looser3}}, {{fl_res_teams.looser4}} </div>
          {%endif%}
        </li>

        <li class="mdl-list__item">
          <span class="mdl-list__item-secondary-content">
            Relégués en Ligue 2
          </span>
        </li>
        <li class="pf-list__item-sep"></li>

        {%if fl_form|can_submit_form%}
        <li class="mdl-list__item">
          <input id="fl_cancel" type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" value="Annuler"  style="margin-left: auto;"/>
          &nbsp;&nbsp;
          <input id="fl_submit" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" value="Valider"/>
        </li>
        <li class="mdl-list__item ">&nbsp;
          <span class="center {% if fl_saved %}pf-success{%endif%}{% if fl_form.errors %}pf-error{%endif%}">
			{% if fl_saved %}
			Vos pronostics ont &eacute;t&eacute; enregistr&eacute;s
			{% endif %}
			{% if fl_form.errors %}
				{%for error in fl_form.errors|getdictvalue:'__all__' %}{{error}}{%endfor%}
			{% endif %}
          </span>
        </li>
        {%endif%}

    </ul>

  </div>
</div>



<script type="text/javascript">
	$(document).ready(function(){

		$('#fl_cancel').click(function(){
			$.get(Urls.ajax_forecasts_league(),function(data){
				$('#forecasts_league').replaceWith(data);
			});
		});
		
		$('#fl_submit').click(function(){

			var postdata={
				{% for field in fl_form.visible_fields %}
					'{{field.html_name}}': $('select[name={{field.html_name}}]').val(),
				{% endfor %}
				{% for field in fl_form.hidden_fields %}
					'{{field.html_name}}': $('input[name={{field.html_name}}]').val(),
				{% endfor %}
				'csrfmiddlewaretoken': '{{ csrf_token }}',
				null:null //hack - need null after last ,
	     	};
	    	 
	    	 $.ajax({
		      type: "POST",
		      url: Urls.ajax_forecasts_league(),
		      data: postdata,
		      success: function(html) {

		      	$('#forecasts_league').replaceWith(html);
		      	//show_toaster();
		      }
		    });
		    return false;
		});


	});
</script>

