{% load static %}
{% load generic_tags %}
{% load i18n %}


{% spaceless %}
<div id="forecasts" class="fixtures forecasts mdl-grid">
  <div class="mdl-cell center mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--4-col-phone">
  {% for day in days %}
    <time datetime="{{day|date:"l j F Y"|capfirst}}" class="date">
      <h5 class="mdl-typography--font-light">{{day|date:"l j F Y"|capfirst}}</h5>
    </time>
    <ul class="match-list mdl-list">
    {% for form in ff_formset.forms %}
      {% ifequal form.day day %}
        <li class="mdl-list__item {%if form.score_a.errors%}error{%endif%}{%if form.score_b.errors%}error{%endif%}">
          <div class="revealMore forecast text-center">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
              <i class="fa fa-chevron-up" aria-hidden="true"></i>
          </div>
          <div class="fixture forecast">
			<!-- hidden inputs -->
			{{form.fixture}}
			{{form.user_id}}

            <span class="team">
              <span class="team-name">
                <span class="long">{{form.team_a}}</span><span class="short">{{form.team_a|slice_str:3|upper}} </span>
              </span>
              <span class="team-logo">
                {% with team_name=form.team_a|lower %}
                    {% with 'images/clubs/small/'|add:team_name|add:'.png' as image_static %}
                      <img src="{% static image_static %}" alt="{{team_name}} logo"/>
                    {% endwith %}
                {% endwith %}
              </span>
            </span>

            <span class="forecast-team">
            <div class="mdl-textfield mdl-js-textfield {%if form.readonly%}is-disabled{%endif%}">
               <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" maxlength="2" id="{{form.score_a.id_for_label}}"
                      name="{{form.score_a.html_name}}" value="{{form.score_a.value|default_if_none:""}}" {%if form.readonly%}disabled="disabled"{%endif%}>
               <label class="mdl-textfield__label" for="{{form.score_a.id_for_label}}">
                 <span class="long">Score</span><span class="short">A</span>
               </label>
             </div>
            </span>


            <span class="forecast-sep">&nbsp;-&nbsp;</span>


            <span class="forecast-team">
            <div class="mdl-textfield mdl-js-textfield {%if form.readonly%}is-disabled{%endif%}">
               <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" maxlength="2" id="{{form.score_b.id_for_label}}"
                      name="{{form.score_b.html_name}}" value="{{form.score_b.value|default_if_none:""}}" {%if form.readonly%}disabled="disabled"{%endif%}>
               <label class="mdl-textfield__label" for="{{form.score_b.id_for_label}}">
                 <span class="long">Score</span><span class="short">B</span>
               </label>
             </div>
            </span>


            <span class="team">
              <span class="team-name">
                <span class="long">{{form.team_b}}</span><span class="short">{{form.team_b|slice_str:3|upper}} </span>
              </span>
              <span class="team-logo">
                {% with team_name=form.team_b|lower %}
                    {% with 'images/clubs/small/'|add:team_name|add:'.png' as image_static %}
                      <img src="{% static image_static %}" alt="{{team_name}} logo"/>
                    {% endwith %}
                {% endwith %}
              </span>
            </span>


            </span>
          </div>

          {%if form.points|notIsNone%}
		  <div class="result forecast text-center">
			  {% with form.points as points %}
			  	{% with form.fixture_id as icon_id%}
                  {%include "global/result_forecast.html"%}
                {% endwith %}
              {% endwith %}
		  </div>
          {%endif%}
        </li>

        <li class="mdl-list__item expandable" data-expanded-content-url="{%url "ajax_forecast_trend_fixture" form.fixture.value %}"
          data-player-id="{{form.user_id.value}}" data-fixture-id="{{form.fixture.value}}">

        </li>

      {% endifequal %}
    {% endfor %}
    </ul>
  {%endfor%}

	<ul class="mdl-list">

    {%if week_points|notIsNone%}
		<li class="mdl-list__item total-pts">
          <span>
			Total:&nbsp;<span class="lettrine">{{week_points}}</span>&nbsp;points
          </span>
		</li>

	{%endif%}

    {%if ff_formset.forms|can_submit_formset%}
    {{ ff_formset.management_form }}

        <li class="mdl-list__item">
          <input id="ff_cancel" type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" value="Annuler" style="margin-left: auto;"/>
          &nbsp;&nbsp;
          <input id="ff_submit" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" value="Valider"/>
        </li>
        {% if ff_saved or ff_formset.errors|haserrors  %}
        <li class="mdl-list__item ">&nbsp;
          <span class="center {% if ff_saved %}pf-success{%endif%}{% if ff_formset.errors|haserrors %}pf-error{%endif%}">
			{% if ff_saved %}
			Vos pronostics ont &eacute;t&eacute; enregistr&eacute;s
			{% endif %}
			{% if ff_formset.errors|haserrors %}
				Veuillez corriger les erreurs
			{% endif %}
          </span>
        </li>
        {%endif%}

    {%endif%}
	</ul>

  </div>
</div>
{% endspaceless %}


<script type="text/javascript">
	$(document).ready(function(){

		// needs to refresh mdl components bindind when this page is refreshed by ajax
		componentHandler.upgradeDom('MaterialTextfield', 'mdl-textfield');
		componentHandler.upgradeDom('MaterialTooltip', 'mdl-tooltip');


		$('#ff_cancel').click(function(){
			$.get(Urls.ajax_forecasts_fixtures("{{currentweek}}"),function(data){
				$('#forecasts').replaceWith(data);
			});
		});
		
		$('#ff_submit').click(function(){

			var postdata={
				{% for form in ff_formset.forms %}
					'{{form.fixture.html_name}}': $('input[name={{form.fixture.html_name}}]').val(),
					'{{form.user_id.html_name}}': $('input[name={{form.user_id.html_name}}]').val(),
					'{{form.score_a.html_name}}': $('input[name={{form.score_a.html_name}}]').val(),
					'{{form.score_b.html_name}}': $('input[name={{form.score_b.html_name}}]').val(),
				{% endfor %}
				'form-TOTAL_FORMS': $('input[name=form-TOTAL_FORMS]').val(),
				'form-INITIAL_FORMS': $('input[name=form-INITIAL_FORMS]').val()
	     	};
	    	
	    	 $.ajax({
		      type: "POST",
		      url: Urls.ajax_forecasts_fixtures("{{currentweek}}"),
		      data: postdata,
		      success: function(html) {
		      	$('#forecasts').replaceWith(html);
		      }
		    });
		    return false;
	    	
		});

	});
</script>
