{% load generic_tags %}



<div class="pronosfoot-wrapper"> <!--wrapper-->

  <div class="mdl-cell mdl-cell--6-col center">

	  <ul class="mdl-list">

		<li class="mdl-list__item pf-stat-item-left">
			<span>Meilleure attaque:&nbsp;</span>
			{%if best_attack|listvalue:0|notIsNone%}
				<span class="lettrine">{{best_attack|listvalue:1|listToComaSepStr}}</span>
				<span class="mdl-typography--font-light">{{best_attack|listvalue:0}} buts</span>
			{%else%}<span class="na">N/A</span>{%endif%}
		</li>
		<li class="mdl-list__item pf-stat-item-right">
			<span>Meilleure défense:&nbsp;</span>
			{%if best_defense|listvalue:0|notIsNone%}
				<span class="lettrine">{{best_defense|listvalue:1|listToComaSepStr}}</span>
				<span class="mdl-typography--font-light">{{best_defense|listvalue:0}} buts</span>
			{%else%}<span class="na">N/A</span>{%endif%}
		</li>
	    <li class="mdl-list__item pf-stat-item-sep"></li>
		<li class="mdl-list__item pf-stat-item-left">
			<span>Plus mauvaise attaque:&nbsp;</span>
			{%if poorest_attack|listvalue:0|notIsNone%}
				<span class="lettrine">{{poorest_attack|listvalue:1|listToComaSepStr}}</span>
				<span class="mdl-typography--font-light">{{poorest_attack|listvalue:0}} buts</span>
			{%else%}<span class="na">N/A</span>{%endif%}
		</li>
		<li class="mdl-list__item pf-stat-item-right">
			<span>Plus mauvaise défense:&nbsp;</span>
			{%if poorest_defense|listvalue:0|notIsNone%}
				<span class="lettrine">{{poorest_defense|listvalue:1|listToComaSepStr}}</span>
				<span class="mdl-typography--font-light">{{poorest_defense|listvalue:0}} buts</span>
			{%else%}<span class="na">N/A</span>{%endif%}
		</li>
        <li class="mdl-list__item pf-stat-item-sep"></li>
		<li class="mdl-list__item pf-stat-item-left">
			<span>Total de buts marqu&eacute;s:&nbsp;</span>
			{%if total_goals|notIsNone%}
				<span class="lettrine">{{total_goals}}</span>
				<span class="mdl-typography--font-light">buts</span>
			{%else%}<span class="na">N/A</span>{%endif%}
		</li>
		<li class="mdl-list__item pf-stat-item-right">
			<span>Moyenne de buts par match:&nbsp;</span>
			{%if avg_goals|notIsNone%}
				<span class="lettrine">{{avg_goals|float_dbledigit}}</span>
				<span class="mdl-typography--font-light">buts</span>
			{%else%}<span class="na">N/A</span>{%endif%}
		</li>
        <li class="mdl-list__item pf-stat-item-sep"></li>
		<li class="mdl-list__item pf-stat-item-left">
			<span>Journ&eacute;e la plus prolifique:&nbsp;</span>
			{%if most_goals|notIsNone%}
				<span class="lettrine">{{most_goals}}</span>
				<span class="mdl-typography--font-light">buts</span>
			{%else%}<span class="na">N/A</span>{%endif%}
		</li>
		<li class="mdl-list__item pf-stat-item-right">
			<span>Journ&eacute;e la moins prolifique:&nbsp;</span>
			{%if less_goals|notIsNone%}
				<span class="lettrine">{{less_goals}}</span>
				<span class="mdl-typography--font-light">buts</span>
			{%else%}<span class="na">N/A</span>{%endif%}
		</li>

	</ul>


  </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
</div>

