{% extends "page.html" %}
{% load static %}

{% block header %}  {% endblock %}
{% block nav %} {% endblock %}
{% block top %}  {% endblock %}
{% block footer %}  {% endblock %}

{% block content %}

<div class="mdl-layout-login mdl-js-layout mdl-color--grey-100">
  <main class="mdl-layout-login__content">
    <div class="mdl-card mdl-shadow--6dp">

      <div class="mdl-card__title ">
        <a class="center" href="{% url 'index' %}">
          <img class="pronosfoot-logo-image" src="{%static "images/logo-pronosfoot-title.png"%}">
        </a>
      </div>

      <div class="mdl-card__supporting-text">
          <h6 class="text-center ">
            {% block msg %}{% endblock msg %}
          </h6>
      </div>

      <div class="mdl-card__actions">
         <a class="pronosfoot-link center mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'index' %}" data-upgraded=",MaterialButton">
           retour au site
           <i class="material-icons">chevron_right</i>
         </a>
      </div>

    </div>
  </main>
</div>

{% endblock %}



