{% extends "registration/base.html" %}
{% load i18n %}

{% block subcontent %}
<form action="{%url 'login'%}{% if next %}?next={{next}}{% endif %}" method="POST">
    {% csrf_token %}

	{% if form.non_field_errors %}
	<div class="mdl-card__supporting-text">
		<h6 class="pf-error text-center ">Erreur d'identification.</h6>
		<div class="mdl-form {%if form.non_field_errors%}is-invalid{%endif%}">
			<span class="mdl-form__error">{{form.non_field_errors.0}}</span>
		</div>
	</div>
	{% endif %}

	<div class="mdl-card__supporting-text">

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label {%if form.username.errors%}is-invalid{%endif%}">
			<input class="mdl-textfield__input" type="text" id="username" name="username" value="{{form.data.username}}"/>
			<label class="mdl-textfield__label" for="username">{{form.username.label}}</label>
			{%if form.username.errors%}
				<span class="mdl-textfield__error">{{form.username.errors.0 }}</span>
			{%endif%}
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label {%if form.password.errors%}is-invalid{%endif%}">
			<input class="mdl-textfield__input" type="password" name="password" id="password" value="{{form.data.password}}" />
			<label class="mdl-textfield__label" for="password">{{form.password.label}}</label>
			{%if form.password.errors%}
				<span class="mdl-textfield__error">{{form.password.errors.0 }}</span>
			{%endif%}
		</div>


	</div>
	<div class="mdl-card__actions ">
		<input type="submit" class="center mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" value="connexion"/>
	</div>
	<div class="mdl-card__actions ">
		<span class="text-center center"><a id="reset_pwd" href="{%url 'password_reset'%}">{% trans "Forgotten password" %}?</a></span>
	</div>
</form>
{% endblock %}

