{% load i18n %}

<div id="lb-pwd">
	<p class="lb-header"></p>
	<p class="lb-title">{% trans "Password reset" %}</p>
    
	<div class="lb-content">
		<p class="info">{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
		
    	<fieldset>
    	
    		<ol>
    			<li>
	    		<label class="{%if form.email.errors%}error{%endif%}">Adresse E-Mail*</label>
	    		<input type="text" class="text" name="email" id="email" value="{{form.data.email}}"/>
	    		{%if form.email.errors%}
	    			<span class="info error">{%for error in form.email.errors%}{{error}}{%endfor%}</span>
	    			<br/>
	    		{%endif%}
	    		<span class="info">* Champs obligatoires</span>
	    		</li>
    		</ol>
    		
    	</fieldset>
		
	</div>
	<ul class="lb-buttons">
	    <li>
	        <input type="submit" class="submit" value="Valider"/>
	    </li>
	    <li>
	        <input type="button" class="button" value="Annuler"/>
	    </li>
	</ul>
	
	</form>
	
	<p class="close"><a id="lb-close-pwd"></a></p>
</div>

<script type="text/javascript">
$(function() {
    $('div#lb-pwd p.close a').bind('click',function(){
        $('div#lb-mask').hide();
        jQuery.each($(this).parents('div.lb'),function(){$(this).hide();});
    });
    $('div#lb-pwd ul.lb-buttons input.button').bind('click',function(){
        $('div#lb-mask').hide();
        jQuery.each($(this).parents('div.lb'),function(){$(this).hide();});
    });
    
    $('div#lb-pwd input.submit').click(function(){
    	var postdata={
          'email':$('div#lb-pwd #email').val()
     	};
    	
    	 $.ajax({
	      type: "POST",
	      url: Urls.password_reset(),
	      data: postdata,
	      success: function(html) {
	      	
    		$('div#lb-pwd').replaceWith(html);
	      	
	      }
	    });
	    return false;
    });
});
</script>
