{% extends "registration/base.html" %}
{% load i18n %}

{% block subcontent %}
<div class="mdl-card__supporting-text">
    <h6 class="text-center ">{% trans "Password reset successful" %}</h6>
    <span class="mdl-typography--font-light mdl-typography--subhead">
      {% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}
    </span>
</div>

<div class="mdl-card__actions">
  <a class="pronosfoot-link center mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'index' %}" data-upgraded=",MaterialButton">
     retour au site
    <i class="material-icons">chevron_right</i>
  </a>
</div>
{% endblock %}

