{% load i18n %}

<div id="lb-pwd">
	<p class="lb-header"></p>
	<p class="lb-title">{% trans "Password reset successful" %}</p>
    
	<div class="lb-content">
		<p class="info">{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>
		
	</div>
	<ul class="lb-buttons">
	    <li>
	        <input type="button" class="button" value="Fermer"/>
	    </li>
	</ul>
	
	</form>
	
	<p class="close"><a id="lb-close-pwd"></a></p>
</div>

<script type="text/javascript">
$(function() {
    $('div#lb-pwd p.close a').bind('click',function(){
        $('div#lb-mask').hide();
        jQuery.each($(this).parents('div.lb'),function(){$(this).hide();});
    });
    $('div#lb-pwd ul.lb-buttons input.button').bind('click',function(){
        $('div#lb-mask').hide();
        jQuery.each($(this).parents('div.lb'),function(){$(this).hide();});
    });
    
});
</script>
