{% extends "registration/base.html" %}
{% load i18n %}

{% block subcontent %}
<form action="{%url 'password_reset'%}" method="POST">
  {% csrf_token %}

  <div class="mdl-card__supporting-text">
      <h6 class="text-center ">{% trans "Password reset" %}</h6>
      <span class="mdl-typography--font-light mdl-typography--subhead">
        {% trans "In case you forgot your password, please enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}
      </span>
  </div>

  <div class="mdl-card__supporting-text">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label {%if form.email.errors%}is-invalid{%endif%}">
        <input class="mdl-textfield__input" type="text" id="email" name="email" value="{{form.data.email}}"/>
        <label class="mdl-textfield__label" for="email">{{form.email.label}}</label>
        {%if form.email.errors%}
            <span class="mdl-textfield__error">{{form.email.errors.0 }}</span>
        {%endif%}
    </div>
  </div>

  <div class="mdl-card__actions ">
    <a href="{% url 'index' %}" class="mdl-button mdl-js-button mdl-js-ripple-effect">annuler</a>
    <input type="submit" class="float-right mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" value="reset"/>
  </div>
</form>
{% endblock %}
