{% extends "registration/base.html" %}
{% load i18n %}

{% block subcontent %}

{% if validlink %}

<div class="mdl-card__supporting-text">
    <h6 class="text-center">{% trans 'Enter new password' %}</h6>
    <span class="mdl-typography--font-light mdl-typography--subhead">
      {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
    </span>
</div>


<form method="POST">
  {% csrf_token %}

  <div class="mdl-card__supporting-text">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label {%if form.new_password1.errors%}is-invalid{%endif%}">
      <input class="mdl-textfield__input" type="password" name="new_password1" id="new_password1" value="{{form.data.new_password1}}" />
      <label class="mdl-textfield__label" for="new_password1">{{form.new_password1.label}}</label>
      {%if form.new_password1.errors%}
          <span class="mdl-textfield__error">{{form.new_password1.errors.0 }}</span>
      {%endif%}
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label {%if form.new_password2.errors%}is-invalid{%endif%}">
      <input class="mdl-textfield__input" type="password" name="new_password2" id="new_password2" value="{{form.data.new_password2}}" />
      <label class="mdl-textfield__label" for="new_password2">{{form.new_password2.label}}</label>
      {%if form.new_password2.errors%}
          <span class="mdl-textfield__error">{{form.new_password2.errors.0 }}</span>
      {%endif%}
    </div>
  </div>

  <div class="mdl-card__actions ">
    <a href="{% url 'index' %}" class="mdl-button mdl-js-button mdl-js-ripple-effect">annuler</a>
    <input type="submit" class="float-right mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" value="valider"/>
  </div>

</form>

{% else %}

<div class="mdl-card__supporting-text">
    <h6 class="text-center">{% trans 'Password reset unsuccessful' %}</h6>
    <span class="mdl-typography--font-light mdl-typography--subhead">
      {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
    </span>
</div>

<div class="mdl-card__actions text-center">
  <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="{%url 'password_reset'%}" data-upgraded=",MaterialButton,MaterialRipple">{% trans "Password reset" %}</a>
</div>
<div class="mdl-card__actions">
  <a class="pronosfoot-link center mdl-button mdl-js-button mdl-typography--text-uppercase" href="{% url 'index' %}" data-upgraded=",MaterialButton">
     retour au site
    <i class="material-icons">chevron_right</i>
  </a>
</div>


{% endif %}

{% endblock %}
