{% extends "registration/base.html" %}


{% block subcontent %}
<form action="{%url 'register'%}" method="POST">
  {% csrf_token %}

  {% if form.non_field_errors %}
  <div class="mdl-card__supporting-text">
    <h6 class="pf-error text-center ">Erreur d'inscription.</h6>
    <div class="mdl-form {%if form.non_field_errors%}is-invalid{%endif%}">
      <span class="mdl-form__error">{{form.non_field_errors.0}}</span>
    </div>
  </div>
  {% endif %}

  <div class="mdl-card__supporting-text">

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label {%if form.username.errors%}is-invalid{%endif%}">
      <input class="mdl-textfield__input" type="text" id="username" name="username"  value="{{form.data.username}}"/>
      <label class="mdl-textfield__label" for="username">{{form.username.label}}</label>
      {%if form.username.errors%}
          <span class="mdl-textfield__error">{{form.username.errors.0 }}</span>
      {%endif%}
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label {%if form.email.errors%}is-invalid{%endif%}">
      <input class="mdl-textfield__input" type="text" id="email" name="email" value="{{form.data.email}}"/>
      <label class="mdl-textfield__label" for="email">{{form.email.label}}</label>
      {%if form.email.errors%}
          <span class="mdl-textfield__error">{{form.email.errors.0 }}</span>
      {%endif%}
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label {%if form.password1.errors%}is-invalid{%endif%}">
      <input class="mdl-textfield__input" type="password" name="password1" id="password1" value="{{form.data.password1}}" />
      <label class="mdl-textfield__label" for="password1">{{form.password1.label}}</label>
      {%if form.password1.errors%}
          <span class="mdl-textfield__error">{{form.password1.errors.0 }}</span>
      {%endif%}
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label {%if form.password2.errors%}is-invalid{%endif%}">
      <input class="mdl-textfield__input" type="password" name="password2" id="password2" value="{{form.data.password2}}" />
      <label class="mdl-textfield__label" for="password2">{{form.password2.label}}</label>
      {%if form.password2.errors%}
          <span class="mdl-textfield__error">{{form.password2.errors.0 }}</span>
      {%endif%}
    </div>

  </div>

  <div class="mdl-card__actions ">
    <a href="{% url 'index' %}" class="mdl-button mdl-js-button mdl-js-ripple-effect">annuler</a>
    <input type="submit" class="float-right mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" value="inscription"/>
  </div>

</form>
{% endblock %}

