{% load generic_tags %}
{% load humanize %}

<h6 class="text-center">

  <span class=" mdl-typography--display-color-contrast-light ">Saison {{season}} | </span>

  <select id="weekselection">
      {% if reversed %}
          {% for week in weeks reversed%}
              <option value="{{week}}" {%if week == currentweek %} selected="selected"{%endif%} >{{week|french_ordinal:'f'}} journ&eacute;e</option>
          {% endfor %}
      {% else %}
          {% for week in weeks %}
              <option value="{{week}}" {%if week == currentweek %} selected="selected"{%endif%} >{{week|french_ordinal:'f'}} journ&eacute;e</option>
          {% endfor %}
      {% endif %}
  </select>

</h6>