{% load generic_tags %}
{% load humanize %}

<dl id="weekselection" class="dropdown" style="float:right;">
    <dt><a href="#"><span class="selected">{{currentweek|toint|french_ordinal:'f'}} journ&eacute;e</span><span class="link">&nbsp;</span></a></dt>
    <dd>
        <ul>
        	{% for week in weeks %}
            	<li id="week_{{week}}">
            		<a href="#">{{week|french_ordinal:'f'}} journ&eacute;e
            		<span class="value">{{week}}</span></a>
            	</li>
            {% endfor %}
		</ul>
	</dd>
</dl>